.campo_texto{
    margin: 24px 0;
}

.campo_texto label{
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px
}

.campo_texto input{
    box-shadow:10px 10px 30px rgba(0,0,0,0.06);
    padding: 24px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
}