*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.titulo{
  text-align: center;
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 30px;
}

@media (max-width: 601px){
  .titulo{ 
    margin-top: 300px;
    font-size: 2rem;
  }
}